* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Images/background.avif);
    background-size: cover;
    background-position: center;
    padding: 10px 10%;
    color: #fff;
}

.main h3 {
    margin-top: 15%;
    font-weight: 400;
    font-size: 30px;
}

.main h1 {
    margin-top: 30px;
    font-size: 50px;
}

.main p {
    margin: 10px 0 20px;
    font-size: 18px;
}

form {
    background: #fff;
    display: flex;
    width: fit-content;
    border-radius: 11px;
}

form input {
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
}

form button {
    /* background: #61b752; */
    background: #a54055;
    border: none;
    outline: none;
    height: 50px;
    width: 70px;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

span {
    margin-top: 10px;
    font-size: 20px;
    display: block;
}